.bg{
    border-color: #f6f9ff;
}
.shadow{
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    padding: 25px 40px;
}
.shadowCard{
    box-shadow: 0px 0 10px rgba(1, 41, 112, 0.1);
}
tbody, td, tfoot, th, thead, tr {
    border-color: #f6f9ff;
    border-width: 0;
}